<%- include('./partials/header.ejs'); %> 
<%- include('./partials/navbar.ejs'); %> 

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header text-white bg-primary">Credit or Debit Card</div>
                <div class="card-body">        
                    <form action="/stripe/subscribe" id="cardForm" method="post">                        
                        <div id="card-element" class="form-group mb-2 mt-2"></div>
                        <div id="card-errors" class="text-danger" role="alert"></div>
                        <br>
                        <input type="submit" name="payment" value="Pay now" class="btn btn-primary px-4" />
                    </form>                
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs'); %> 