<%- include('./partials/header.ejs'); %> 
<%- include('./partials/navbar.ejs'); %> 

<div class="container">
    <div class="col-sm-12">
        <div class="card" style="width: 350px;">
            <div class="card-body">        
                <form action="/stripe/subscribe" id="cardForm" method="post">
                    <h5>Credit or Debit Card</h5><br>
                    <div id="card-element" class="form-group"></div>
                    <div id="card-errors" class="text-danger" role="alert"></div>
                    <br>
                    <input type="submit" name="payment" value="Pay now" class="btn btn-primary" />
                </form>                
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs'); %> 