<%- include('./partials/header.ejs'); %>
<%- include('./partials/navbar.ejs'); %> 

<div class="container mt-3">
    <div class="col-sm-12">
        <div class="card shadow" style="width: 350px;">
            <div class="card-header text-white bg-primary">Create new password</div>
            <div class="card-body">
                <form action="/user/createPassword" method="post">
                    <input type="hidden" name="user_id" value="<%= user %>">
                    <div class="form-group mb-2">
                        <label for="forNewPasswor">Password</label>
                        <input type="password" name="password" id="forNewPasswor" class="form-control" >
                    </div>
                    <div class="form-group mb-2">
                        <label for="forConfirmPasswor">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="forConfirmPasswor" class="form-control" >
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary px-4">
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs'); %> 